<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MessangerVK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9CE60F127BABDD50037C5AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9CE610727BABDD90037C5AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9CE611127BABDDA0037C5AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
